<div>
  <nav class="navbar navbar-expand-lg">
     
    <a class="navbar-brand mx-auto"> 
      <img src="../assets/to-do.png" alt="" style="width:40px;">
      {{ title }}
    </a>
  </nav>
  <div class="container">
    <h4 class="text-center m-3 alert alert-primary" role="alert" *ngIf="getLength() > 0">
      No. of tasks = {{ getLength() }} | No. of Pending Tasks =
      {{ this.getPending() }}
    </h4>
    <div class="row">
      <div class="col-md-6">
        <app-todo-form></app-todo-form>
      </div>
      <div class="col-md-6">
        <app-todo-list></app-todo-list>
      </div>
    </div>
  </div>
</div>
